body{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #FDD5DF;
    color: #b6002d;

}

#title{
    border: 2px solid #D97E8A;
    padding: 10px;
    border-radius: 20px;
    background-color: #D97E8A;

}



#hi{
    flex-direction: row;
    
}

.g{
    background-color: #FAE8ED;
    height: 100px;
    width: 160px;
    font-size: 3rem;
    margin-left: 5px;
    margin-right: 5px;
    border: 10px double #ffc0d2;
    border-radius: 100px;
    text-align: center;
    justify-content: center;
    padding: 10px
}

.g:hover{
    cursor:pointer;
    transform: scale(1.1);

}

#scorebord{
    height: 100px;
    width: 300px;
    background-color: #d74a83;
    color:#560116;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#dachoi{
    padding: 15px;
    height: 100px;
    width: 400px;
    background-color: #f68eb7;
    color:#560116;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#WTL{
    border: 10px double pink;
    padding: 10px;
}